@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body{
  font-family: 'Poppins', 'sans-serif';
}

.active{
  @apply text-white underline-offset-4 underline font-medium
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination li{
  margin: 0 5px;
}

.pagination a{
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-decoration: none;
  color: #000;
}

.pagination a:hover{
  background: #eee;
}

.pagination li.activerPagination{
  background: #DDDDDD;
  border-radius: 6px;
  color: #fff;
}

.active-button{
  color: #16213E;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@keyframes slideInOut {
  0% {
    bottom: -50px;
    opacity: 0;
  }

  10% {
    bottom: 30px;
    opacity: 1;
  }

  90% {
    bottom: 30px;
    opacity: 1;
  }

  100% {
    bottom: -50px;
    opacity: 0;
  }
}

.notification {
  position: fixed;
  bottom: -50px;
  right: 20px;
  background-color: #2FA4FF;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  animation: slideInOut 4s forwards;
}

.topdepan {
  z-index: 999;
}

.no-column {
  width: 50px;
}